
/* src/index.css or App.css */

/* Media Queries for small screens */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }

  .MuiButton-root {
    font-size: 14px;
  }

  .MuiTableCell-root {
    font-size: 14px;
  }
}

/* Media Queries for medium screens */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }
}
